.container {
width: 100%;
display:flex;
}

.img {
	align-self: flex-start;
	max-width: 40vw;
    padding: 20px;
	position: flex;
}
.text{
	margin-right: 5vw;
	flex: 1 1 auto;
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
    line-height: 1.4;
    max-width: 60%;
}
